/* brighter red #9b355b */
:root {
  --main-color: #222224;
  --color-dark: #646464;
  --text-grey: #a0a0a0;
}

.reset-admin {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* font-size: medium; */
}
/* background: #f0f0f0; */
/* sidebar section */

.sidebar-admin {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 99;
  transition: width 300ms;
}

.sidebar-admin-brand {
  height: 110px;
  padding: 1rem 0rem 1rem 2rem;
  color: var(--text-grey);
}

.sidebar-admin-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-admin-menu li {
  width: 100%;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.sidebar-admin-menu a {
  padding-left: 1rem;
  display: block;
  color: #fefefe;
  font-size: 1.1rem;
}

.sidebar-admin-menu a.active {
  background: #fefefe;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-admin-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#nav-admin-toggle:checked + .sidebar-admin {
  width: 70px;
}

#nav-admin-toggle:checked + .sidebar-admin .sidebar-admin-brand,
#nav-admin-toggle:checked + .sidebar-admin li {
  padding-left: 1rem;
  text-align: center;
}

#nav-admin-toggle:checked + .sidebar-admin li a {
  padding-left: 0rem;
}

#nav-admin-toggle:checked + .sidebar-admin .sidebar-admin-brand h2 span:last-child,
#nav-admin-toggle:checked + .sidebar-admin li a span:last-child{
  display: none;
}

#nav-admin-toggle:checked ~ .main-admin-content{
  margin-left: 70px;
}

#nav-admin-toggle:checked ~ .main-admin-content header{
  width: calc(100% - 70px);
  left: 70px;
}

.main-admin-content {
  transition: width 300ms;
  width: calc(100vw - 300px);
  float: right;
}

.main-admin-content h4 {
  color: #646464;
}
.main-admin-content h4,
.main-admin-content small {
  text-align: left;
}
/* main  section */

.header-admin {
  background: #fefefe;
  /* dark mode */
  /* background: #222222; */
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.0rem;
  box-shadow: 3px 3px 7.5px rgba(0,0,0, 0.2);
  position: fixed;
  left: 300px;
  width: calc(100% - 300px);
  top: 0;
  z-index: 99;
  transition: left 300ms;
}

.header-admin h2 {
  color: var(--text-grey);
  font-weight: 600;
  font-style: italic;
}
.header-admin h2 span {
  text-decoration: underline;
}

.header-admin label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-admin-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-admin-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-admin-wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}

.user-admin-wrapper {
  display: flex;
  align-items: center;
}

.user-admin-wrapper img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: .5rem;
}

.user-admin-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

/* content section  */

.main-admin {
  margin-top: 110px;
  padding: 2rem 1.5rem;
  background: var(--color-dark);
  /* Dark Mode */
  /* background: #191919; */
  min-height: calc(100vh - 78px);
}

.cards {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single_container {
  padding: 0 10px;
  margin-bottom: 20px;
}

.card-single_container {
  padding: 0 10px;
  margin-bottom: 20px;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fefefe;
  padding: 2rem;
  border-radius: 2px;
  min-height: 160px;
}

.card-single:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}

.card-single:first-child span {
  /* color: var(--text-grey); */
  color: #f0f0f0;
  font-size: .9rem;
}

.card-single:last-child{
  background: var(--main-color);
}

/* .card-single:last-child h1,
.card-single:last-child div:first-child span, 
.card-single:last-child div:last-child span {
  color: #fefefe
} */
.card-single h1,
.card-single div, 
.card-single div {
  /* height: 100%; */
  color: #ffffff;
  font-size: .9rem;
}

.card-single h1 {
  font-size: 2.6rem;
}

.card-single h1 {
  color: #fff;
}
.card-header h3 {
  color: #222;
  font-size: 2rem;
  font-weight: 600;
}
.aside .card-header h3 {
  font-size: 1rem;
}

/* Table Section */
.recent-grid {
  grid-gap: 1rem;
  grid-template-columns: 65% auto;
}

.recent-grid div {
  margin: 0 auto;
}

.recent-grid .projects .card,
.recent-grid .customers .card {
  margin: 0 auto;
  border: 1px solid #7fcce4;
  border-top: 3px solid #7fcce4;
}

.recent-grid .customers .card {
  padding-bottom: 30px;
}

.card {
  background: #fefefe;
  border-radius: 5px;
  height: 100%;
}

.card-header,
.card-body {
  font-size: .8rem;
}

.card-body {
  padding: 0;
}

.card-header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background: #eaf1f3;
  border-bottom: 3px solid #7fcce4;
  color:#202527;
}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fefefe;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead tr,
tbody tr {
  font-size: 0.8rem;
}

thead td {
  font-weight: 700;
}

td {
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;
}

.order-table .thead {
  background: black;
  color: white;
  font-weight: 900;
  font-size: .9rem;
  border-bottom: 3px solid #7fcce4;
  padding: 15px 10px !important;
  margin-bottom: 0 !important;
}

.order-table .order-summary {
  padding: 0 10px;
}

.status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

tr {
  width: 100%;
}

.order-collapsible .row {
  font-weight: 500;
  margin-bottom: 0 !important;
}

.order-accordian .collapsible.MuiAccordion-root {
  background: transparent;
  /* background: #f6f6f6; */
  box-shadow: 0px 1px 1px #888;
  border-radius: 0px;
}

.order-accordian .collapsible.MuiAccordion-root.active {
  box-shadow: 0px 1px 1px #222;
  border-top: 1px solid #222;
}

.order-accordian .collapsible.MuiAccordion-root.active:first-child {
  border-top: none;
}

.order-accordian .order-collapsible.active .order-collapsible {
  font-weight: 500;
  background: #f0f0f0;
  color: black;
  text-shadow: 1px 1px 0 #bbb;
  border-top: 1px solid #bbb;
  border-radius: 0px;
}

.order-accordian .order-collapsible.active .order-collapsible:first-child {
  border-top: 1px solid #222;
}

.order-collapsible_details.MuiAccordionDetails-root {
  /* font-family: 'Be Vietnam Pro'; */
  border-top: 2px solid #7fcce4;
  border-bottom: 1px solid #bbb;
  padding-bottom: 30px;
  background: white;
  color: #444;
}

.order-collapsible_details.MuiAccordionDetails-root:last-child {
  border-bottom: none;
}

.order-collapsible_details .purchase-details_header .col {
  margin-bottom: 0px;
  color: #222;
  font-size: 1.25rem;
  text-decoration: underline;
  margin: 10px 0 10px;
}

.order-table .thead .header {
  text-align: center;
}

.order-table .thead .header.o-num,
.order-collapsible .order-summary .number {
  /* padding: 0 !important; */
  float: left;
  text-align: left;
}

.order-collapsible .order-summary {
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.order-collapsible .confirmation {
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-deets .details-headers.row .col span {
  color: #222;
  font-size: .9rem;
  font-weight: 800;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #222;
  width: 80%;
}

.purchase-details_header {
  color: #333;
  font-size: 1.25rem;
  text-decoration: underline;
  margin: 10px 0 20px;
}

.order-details_headers div b {
  font-size: .9rem;
  color: #222;
  text-decoration: underline;
}

.order-details_info .confirmation {
  font-family: 'Share Tech Mono';
  font-weight: 500;
  font-size: .9rem;
  margin-bottom: 25px;
}

.product-map .number {
  color: #666;
  text-shadow: 2px 2px 2px #ddd;
}

.status.active {
  background: rgb(56, 134, 56);
}

.status.flagged {
  background: rgb(219, 110, 67);
}

.confirmation .status {
  margin-right: 6px;
}

.status.new {
  background: grey;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.customer {
  text-align: left;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}

.info {
  display: flex;
  align-items: center;
}

.customer .info img {
  border-radius: 50%;
  margin: 0 auto !important;
  width: 40px !important;
  height: 40px !important;
}

.info h4 {
  font-size: .8rem;
  font-weight: 700;
  color: #222;
}

.info small {
  font-weight: 600;
  color: var(--text-grey);
}

.contact span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
  color: var(--main-color);
}

/* MEDIA QUERIES WAHHH */

@media only screen and (max-width: 1200px) {
  .sidebar-admin {
    width: 70px;
  }
  
  .sidebar-admin .sidebar-admin-brand,
  .sidebar-admin li {
    padding-left: 1rem;
    text-align: center;
  }
  
  .sidebar-admin li a {
    padding-left: 0rem;
  }
  
  .sidebar-admin .sidebar-admin-brand h2 span:last-child,
  .sidebar-admin li a span:last-child{
    display: none;
  }
  
  .main-admin-content {
    width: calc(100vw - 70px);
  }
  
  .main-admin-content header{
    width: calc(100vw - 70px);
  }
  .header-admin {
    left: 70px;
  }
}

@media only screen and (max-width: 960px) {
  .cards {
    /* grid-template-columns: repeat(3, 1fr); */
  }

  .recent-grid {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .recent-grid {
    grid-template-columns: 100%;
  }

  .search-admin-wrapper {
    display: none;
  }

  .sidebar-admin {
    left: -100% !important;
  }

  .card-header h3 {
    font-size: 1.5rem;
  }

  header h2 {
    display:flex;
    align-items: center;
  }

  header h2 label {
    display: inline-block;
    background: var(--main-color);
    padding-left: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }

  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }

  header h2 {
    font-size: 1rem;
  }

  .main-admin-content {
    width: 100%;
    margin-left: 0rem;
  }

  .card-single {
    display: block;
    margin:  0 auto;
    text-align: center;
  }

  .recent-grid div {
    margin-bottom: 30px;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-admin-toggle:checked + .sidebar-admin {
    left: 0 !important;
    z-index: 99;
    width: 300px;
  }
  
  #nav-admin-toggle:checked + .sidebar-admin .sidebar-admin-brand,
  #nav-admin-toggle:checked + .sidebar-admin li {
    padding-left: 2rem;
    text-align: left;
  }
  
  #nav-admin-toggle:checked + .sidebar-admin li a {
    padding-left: 1rem;
  }
  
  #nav-admin-toggle:checked + .sidebar-admin .sidebar-admin-brand h2 span:last-child,
  #nav-admin-toggle:checked + .sidebar-admin li a span:last-child{
    display: inline;
  }
  
  #nav-admin-toggle:checked ~ .main-admin-content {
    margin-left: 0rem !important;
  }
}

@media only screen and (max-width: 560px) {
  .card-single h1 {
    font-size: 2rem;
  }
  .card-single div {
    font-size: .75rem;
  }
  .cards {
    /* grid-template-columns: 100%; */
  }
}


/* PRINT */

.micon-nav {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.micon-nav a {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
}
.print-content {
  color: black;
}

.print-out {
  overflow: visible !important;
  height: auto;
  width: auto;
}

.print-settings {
  color: white;
}

@media print {
  @page {
    size: A4;
  }
  html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 10px;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    display: inline;
    position: absolute !important;
  }
  div {
    display: block;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
  }

  .pagebreak {
    clear: both;
    page-break-after: always;
  }

  .header.o-num {
    margin-left: 8px !important;
    margin-right: -8px !important;
    text-align: left;
  }
  
  .header.o-date {
    margin-left: -10px !important;
    text-align: right;
  }
  .print_row .date {
    /* margin-left: -5px !important; */
    text-align: right;
  }
  .print_row .tax {
    color: #666;
  }
  .print_row .cost {
    font-weight: 600;
  }
  .print_row .total {
    font-weight: 700;
    text-decoration: underline;
  }
  .print-deets {
    color: #666;
  }
}